@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Azeret Mono", monospace;
}

.header-div-content{
    display:flex;
    justify-content:space-around;
    /* align-items:center; */

    

}
.nav-heading{
    width:390px;
    height:33px;
    font-size:28px;
    font-weight:900;
    color:#0D1321;
    /* margin:0px; */
    padding: 0;
    margin:0
}
.resume-btn{
    width:244px;
    height:57px;
    border-radius:8px;
    border:2px solid #0D1321;
    margin-top:38px;
    margin-bottom:36px;
    font-size:20px;
    font-weight: 600;
    font-family: "Azeret Mono", monospace;

}
.banner-content{
    max-width:100%;
    height:652px;
    background-image: url(../assets/Hero-bg.png);
    margin:0 auto;
}
.laptop-image{
    display:flex;
    justify-content: center;
    margin-top:26px;
}
.banner-image{
    margin-top:26px;
}
.first-banner-title{
    width:998px;
    height:212px;
    text-align:center;
   margin:0 auto;

    
}
.first-main-title{
    width:998px;
    height:136px;
    font-size:48px;
    font-weight: 900;
   /* margin-bottom:24px; */
   margin:0;
   color:#0D1321;
}
.first-description{
    width:852px;
    height: 52px;
    color:#0D1321;
    font-size:16px;
    margin-left:73px;
    margin-top:0px;
}
.first-banner-btn{
    display:flex;
    justify-content: center;
}.contact-btn{
    width:244px;
    height: 65px;
    border-radius: 8px;
    background-color: #0D1321;
    color:#FFFFFF;
    font-size: 20px;
    font-weight:700;
    font-family: "Azeret Mono", monospace;
    margin-top:32px;
}
.second-section{
    width:1140px;
    height:1393px;
    border-radius:16px;
    background-color: rgba(13, 19, 33, 0.02);
    border:2px solid red;
    margin:0 auto;
    margin-top:74px;
}
